*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#f3f6fa;
height:100vh;
}


/* TRICOLOUR */

.top-strip{
display:flex;
height:6px;
}

.orange{
flex:1;
background:#FF9933;
}

.white{
flex:1;
background:white;
}

.green{
flex:1;
background:#138808;
}


.login-page{

display:grid;

grid-template-columns:45% 55%;

height:calc(100vh - 6px);
}


/* LEFT */

.left-panel{

background:#041b4d;

padding:80px;

color:white;

display:flex;

flex-direction:column;

justify-content:center;

}

.branding h1{

font-size:55px;
margin-bottom:10px;
}

.branding span{

color:#FF9933;
}

.branding p{

opacity:.8;
margin-bottom:50px;
}

.info-box h2{

margin-bottom:20px;
font-size:32px;
}

.info-box p{

line-height:1.8;
margin-bottom:40px;
opacity:.9;
}

.features{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;
}

.features div{

background:rgba(255,255,255,.08);

padding:18px;

border-radius:12px;
}


/* RIGHT */

.right-panel{

display:flex;

justify-content:center;

align-items:center;
}

.login-card{

width:450px;

background:white;

padding:45px;

border-radius:20px;

box-shadow:
0 15px 40px rgba(0,0,0,.08);
}

.login-card h2{

margin-bottom:10px;

color:#041b4d;
}

.login-card p{

margin-bottom:30px;

color:#666;
}


/* ROLES */

.role-selector{

display:flex;

gap:10px;

margin-bottom:25px;
}

.role{

flex:1;

padding:12px;

border:none;

border-radius:8px;

background:#f2f4f7;

cursor:pointer;
}

.active-role{

background:#0a42b8;

color:white;
}


/* FORM */

form{

display:flex;

flex-direction:column;

}

label{

margin:10px 0;
font-weight:600;
font-size:14px;
}

input{

padding:14px;

border:1px solid #ddd;

border-radius:8px;

font-size:15px;
}

.password-field{

position:relative;
}

.password-field i{

position:absolute;

right:15px;
top:16px;

cursor:pointer;
}

.row{

display:flex;

justify-content:space-between;

margin:18px 0;

font-size:14px;
}

.row a{

text-decoration:none;

color:#0a42b8;
}

.submit-btn{

padding:15px;

border:none;

border-radius:10px;

background:#0a42b8;

color:white;

font-size:16px;

cursor:pointer;

margin-top:10px;
}

.submit-btn:hover{

background:#08348f;
}

.signup-text{

margin-top:25px;

text-align:center;
}

.secure{

margin-top:25px;

text-align:center;

font-size:13px;

color:#666;
}